@{
    ViewBag.Title = "SuKien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container">
        <img src="~/hinhanh/Gift_mainbanner-1200x450.png"/>
    </div>
</div>